<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student CRUD Using Ejs & JSON DB</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <%- body %>
    
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $('.student-table').dataTable();

        // delete data confirm
        const dltStudent = document.querySelectorAll('.dltStudent');
        if(dltStudent){
          dltStudent.forEach(item => {
            item.onclick = (e) => {
              const conf = confirm('Are You Sure ???');
              if(conf){
                return true
              }else{
                return false;
              }
            }
          })
        }
    </script>
  </body>
</html>