.student_image{
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
}
.student-details img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 5px solid yellowgreen;
}